section {
    padding: 10px;
    margin: 40px;
    background-color: rgb(123, 221, 192);
}

nav {
    padding: 10px;
    margin: 10px 700px 20px 40px;
    background-color: rgb(123, 221, 192);
}

.bullet1 {
    font-size: smaller;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    background-color: #f4f7f6;
}
      
tr:hover {
    background-color: rgb(50, 114, 100);
    color: white;
}


#h1 {
    color:rgb(33, 36, 35);   
}
